/* CONTAINER GERAL DOS PLANOS */
/* ****************************** */
.container-plansSection {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 90px;
  width: 100%;
}

/* ****************************** */



/* TITULO GERAL DO CONTAINER PLANOS */
/* ****************************** */
.title-plansContainer {
  margin-top: 200px;
}

/* ****************************** */



/* --- CONFIGURAÇÃO GERAL DE CADA PLANO --- */
/* ****************************** */
.pricing-plan {
  background-color: #f6f6f6;
  border: 2px solid #DDD;
  border-bottom: 2px solid #DDD;
  display: block;
  padding: 1em 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  max-width: 450px;
  min-width: 350px;
}

/* ****************************** */



/* TITULO DO PLANO */
/* ****************************** */
.plan-title {
  font-size: 1em;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0.75em 1em 1.25em;
  text-transform: uppercase;
}

/* ****************************** */



/* PREÇO E TEMPO DO PLANO (GERAL) */
/* ****************************** */
.plan-cost {
  background-color: white;
  color: #77b9dd;
  font-size: 1.25em;
  font-weight: 700;
  padding: 1.25em 1em;
  text-transform: uppercase;
}

/* ****************************** */




/* PREÇO DO PLANO */
/* ****************************** */
.plan-price {
  font-size: 3em;
  letter-spacing: -0.05em;
  line-height: 1;
  margin-bottom: 0;
}

/* ****************************** */



/* TIPO DO PLANO (TEMPO) */
/* ****************************** */
.plan-type {
  border: 0.313em solid #DDD;
  color: #999;
  display: inline-block;
  font-size: 0.75em;
  margin: 0.75em 0 0 0.75em;
  padding: 0.3em 0.4em 0.25em;
  width: auto;
}

/* ****************************** */




/* INFORMAÇÕES DO PLANO */
/* ****************************** */
.plan-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 2em 1em 1em;
}

.plan-features li {
  list-style-type: none;
  border-bottom: 1px solid #DDD;
  margin-bottom: 0.5em;
  padding-bottom: 0.75em;
  color: #555;
  display: block;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.3;
}


/* ****************************** */




/* FAIXA *RECOMENDADO* */
/* ****************************** */
.featured-ribbon {
  width: 200px;
  background: #1B8DC8;
  position: absolute;
  top: 15px;
  left: -60px;
  text-align: center;
  line-height: 35px;
  letter-spacing: 0.01em;
  font-size: 0.65em;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.featured-plan {
  background-color: #eef7fc;
  border-top: 5px solid #8cd0f5;
  border-right: 0 solid transparent;
  border-bottom: 5px solid #8cd0f5;
  border-left: 0 solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  transition: transform 400ms ease;
}

.featured-plan .plan-title {
  color: #1B8DC8;
}

/* ****************************** */




/* BOTÃO DE SELEÇÃO DO PLANO */
/* ****************************** */
.btn-plan {
  background-color: #1B8DC8;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.btn-recommended {
  background-color: #6cb507;
  padding-bottom: 10px;
}

.btn-plan:hover {
  background-color: #77b9dd;
  color: white;
}

.btn-recommended:hover {
  background-color: goldenrod;
}

/* ****************************** */