/* CONFIGURAÇÕES GERAIS DO HEADER */
/* ****************************** */
header {
  position: fixed;
  z-index: 99;
  width: 100%;
}

.button-profile {
  cursor: pointer;
}


.App-header {
  background-color: #282c34;
  color: white;
}

/* ****************************** */

/* LISTAS */
/* ****************************** */
ul {
  list-style: none;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: white;
}

/* ****************************** */





/* // DESIGN DO BOTÃO SANDUICHE */
/* ****************************** */
.icon {
  display: none;
  cursor: pointer;
  padding-left: 20px !important;
}

.toggle {
  display: none;
}


.hamburguer {
  display: block;
  width: 1.5em;
  height: 5px;
  background: #ccc;
  position: absolute;
  transition: all .3s ease-in-out;
  z-index: 3;
}

.hamburguer:before,
.hamburguer:after {
  content: "";
  display: block;
  width: 1.5em;
  height: calc(1.5em/5);
  background: #ccc;
  position: absolute;
  top: calc(1.5em/ 5 * -2);
  transition: inherit;
  padding: 2.5px;
}

.hamburguer:after {
  top: 10px;
}

.toggle:checked+.icon>.hamburguer {
  background: crimson;
  transform: rotate(45deg);
}

.toggle:checked+.icon>.hamburguer:before {
  background: crimson;
  top: 0;
  transform: rotate(90deg);
}

.toggle:checked+.icon>.hamburguer:after {
  background: crimson;
  top: 0;
  transform: rotate(90deg);
}

/* ****************************** */

/* BOTÃO SANDUICHE (MENU ABERTO) */
/* ****************************** */
.menu {
  display: none;
  background-color: #151728;
  padding: 50px;
  position: absolute;
  width: 240px;
  z-index: 2;
  top: 0;
}

/* ****************************** */


/* HOVER NOS ICONES */
/* ****************************** */
.ul-headerItems li a,
.menu li a,
.button-profile {
  transition: 0.27s;
}

.ul-headerItems li a:hover,
.menu li a:hover,
.button-profile:hover {
  color: greenyellow;
  filter: invert(10%);
}

/* ****************************** */

/* BOTÃO DE REGISTRO DO MODAL */
/* ****************************** */
.registro-modal {
  display: inline-block;
  background-color: purple;
  color: white;
  font-size: 17px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.registro-modal:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
  color: white;
  background-color: #8B008B;
}



/* ****************************** */


/* MEDIA QUERYS */
/* ****************************** */
@media (max-width: 768px) {
  .ul-headerItems {
    display: none !important;
  }

  .header-container {
    display: block !important;
    text-align: center;
  }

  .App-header {
    height: 130px;
  }


  /* SANDUICHE */
  /* ****************************** */
  .icon {
    display: inline-block;
  }

  .hamburguer {
    margin-top: 50px;
  }

  /* ****************************** */



  .toggle:checked~.menu {
    display: block;
  }
}

/* ****************************** */

/* INPUTS LOGIN */
/* ****************************** */
#value-email, #value-pass{
  max-height: 45px;
  max-width: 300px;
  min-width: 150px;
}

.container-login{
  margin: 0 auto;
}

.container-loginInputs{
  width: 50%;
  padding-top: 70px;
}

.email-input{
  padding-top: 40px;
}
/* ****************************** */

.container-login {
  height: 100%;
  width: 100%;
  background-color: #343a40;
}

.div-addLogin{
  width: 50%;
}

.logo-modal{
  max-width: 400px;
}

.modal-login{
  margin-top: 120px;
}

.modal-header{
  background-color: #343a40 !important;
}
@media screen and (max-width: 1200px){
  .container-loginInputs{
    width: 100%;
    padding-top: 30px;
  }

  .div-addLogin{
    width: 100%;
  }

  .modal-login{
    margin-top: 20px;
  }

}

@media screen and (max-width:420px){
  .logo-modal{
    max-width: 250px;
  }
}