/* CONFIGURAÇÕES GERAIS DO FOOTER */
/* ****************************** */
footer {
    background-color: whitesmoke;
    min-height: 200px;
    margin-top: auto;
    width: 100%;
}

/* ****************************** */




/* LINKEDIN  LOGO*/
/* ****************************** */
.linkedin-footer {
    background-color: #0B63BD;
    border-radius: 7px;
    max-width: 130px;
    margin-top: 20px;
}

/* ****************************** */


/* TWITTER LOGO */
/* ****************************** */
.twitter-footer {
    background-color: #03A9F4;
    border-radius: 7px;
    max-width: 130px;
    margin-top: 20px;
}

/* ****************************** */

/* INSTAGRAM LOGO */
/* ****************************** */
.instagram-footer {
    background-color: #D63F8E;
    border-radius: 7px;
    max-width: 130px;
    margin-top: 20px;
}

/* ****************************** */


/* LISTA DE LINKS */
/* ****************************** */
.ul-Footer {
    padding-top: 30px;
    margin-left: 70px;
}

/* ****************************** */