.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* definir a altura mínima para cobrir toda a viewport */
  }
  
  main {
    flex: 1 0 auto; /* expandir o conteúdo principal para preencher todo o espaço disponível */
  }
  
  footer {
    margin-top: auto; /* empurrar o rodapé para o final da página */
  }